---
import TypeLabel from "./TypeLabel.astro";

const { title, types, image, id } = Astro.props;
---

<div>
    <img src={image} alt=`Pokedex image of ${title}` />
    <span>#{id.toString().padStart(4, "0")}</span>
    <h2>{title}</h2>
    <div class="flex flex-row gap-2">
        {types.map((type: string) => <TypeLabel type={type} />)}
    </div>
</div>
